body {
  /* padding: 4rem;
  margin: 0rem auto; */
  font-family:"Roboto", 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color:#E5D9F2 ;
}

header {
  /* margin-bottom: 2rem; */
}

.bg-body-tertiary {
  
  background-color: #cdc1ff82 !important;
}

.spoonIco {
  width: 5%;
  padding-bottom: 0.2rem;
  padding-right: 0.2rem;
}

.form-control {
  border-color: pink;
}

.form-control:focus {
  border-color: #69247C;
  box-shadow: 0 0 0 .25rem rgba(255, 192, 203, 0.589);
}

.btn-outline-success {
  --bs-btn-color: #0a010c;
  --bs-btn-bg: #CDC1FF;
  --bs-btn-border-color: #d07edb;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #A294F9;
  --bs-btn-hover-border-color: #db42cd;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #a294f9;
  --bs-btn-active-border-color: #db42cd;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #a294f9;
  --bs-btn-disabled-border-color: #db42cd;
}

.dropdown-menu {
  --bs-dropdown-bg: #E5D9F2;
  --bs-dropdown-link-hover-bg: #cdc1ff82;
}

/* input[type="search"]::-webkit-search-cancel-button {
  display: none;
} */

.recipesList {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr; 
  gap: 4rem;
  border: none;
  background: none;
}

.recipe {
  border: var(--bs-card-border-width) solid var(--bs-card-border-color);
  border-radius: var(--bs-card-border-radius);
  background-color: #F5EFFF;
}

.card-img-top {
	transition: .5s all ease-in-out;
}

.card-img-top:hover {
  transform: scale(.95);
	filter: brightness(85%);
  border-radius: 1%;
}

.recipeName {
  min-height: 50px;
  font-size: 1.3rem;
  font-weight: 600;
}

.recipeNameLink {
  color: black;
  font-style: normal;
  text-decoration: none;
}

.recipeNameLink:hover {
  color: #69247C;
}

.infoBadge {
  display: inline-block;
  margin: 0.2rem 0.2rem;
  color: #000 !important;
  font-size: 1rem;
  background-color: rgba(255, 192, 203, 0.493) !important;

}

.infoBadges {
  margin-bottom: 1rem;
  
}

.recipeDetails p {
  border: 2px solid pink;
  padding: 0.3rem;
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  font-weight: normal;
  color: #000000;
  font-size: 1.2;

}

.btn-primary {
  --bs-btn-color: #69247C;
  --bs-btn-bg: #CDC1FF;
  --bs-btn-border-color: #d07edb;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #A294F9;
  --bs-btn-hover-border-color: #db42cd;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #a294f9;
  --bs-btn-active-border-color: #db42cd;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #a294f9;
  --bs-btn-disabled-border-color: #db42cd;
}

.signingWrapper {
  display: flex; /* Enables flexbox */
  justify-content: center; /* Centers horizontally */
  align-items: center; /* Centers vertically */
  height: 10%;
  margin-top: 2rem;
}

.signSVG {
  height: 4rem;
}

@media screen and (max-width: 390px) {

  .recipesList {
    display: grid;
    grid-template-columns: 1fr; 
    gap: 1rem;
    border: none;
  }
 
}

@media screen and (min-width: 500px) {
  .recipesList {
    display: grid;
    grid-template-columns: 1fr; 
    gap: 4rem;
    border: none;
  }
}

@media screen and (min-width: 640px) {
  .recipesList {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 4rem;
    border: none;
  }
}

@media screen and (min-width: 992px) {
  .recipesList {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    gap: 4rem;
    border: none;
  }
}

@media screen and (min-width: 1900px) {
  .recipesList {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    gap: 4rem;
    border: none;
  }
}


/* /////////// */
/* detail CSS */
/* ///////// */

@media screen and (min-width: 1900px) {
  .detail-body {
    max-width: 60%;
  }
}

.detailNav {
  margin-bottom: 1rem;
  justify-content: flex-start;
}

.detailBackArrow {
  margin: 0 1rem;
  color: #000;
}

.detailBackArrow:hover {
  color: #69247C;
}

h1.detailTitle  {
  justify-self: left;
  font-family: "Roboto", serif;
  font-weight: 900;
  margin: 0;
}

.detailIntro {
  justify-items: left;
}

.detailImg {
  max-width: 30%;
  border-radius: 19px 19px 19px 19px;
  -moz-border-radius: 19px 19px 19px 19px;
  -webkit-border-radius: 19px 19px 19px 19px;
  border: 0px solid #000000;
}

.ingredientList  {
  margin-bottom: 2rem;
  --bs-list-group-bg: #cdc1ff82;
  --bs-list-group-border-color: #A294F9;
  /* max-width: 50%; */
}

.dashed {
  margin: 0;
  border-top: 3px dashed #500073;
}

.stepList {
  margin-top: 1.5rem;
  --bs-list-group-bg: #cdc1ff4f;
  --bs-list-group-border-color: #A294F9;
}

.form-check-input:focus {
  border-color: #500073;
  outline: 0;
  box-shadow: 0 0 0 .25rem #a194f96c;
}

input[type="checkbox"]:checked {
  background-color: #500073;
  border-color: #500073;
}

ol {
  font-family: "Roboto", serif;
  font-weight: 400;
  font-size: larger;

}

ul {
  font-family: "Roboto", serif;
  font-weight: 400;
  font-size: larger;
}

/* /////////// */
/* add Recipe CSS */
/* ///////// */

.addRecipeBody{
  padding: 2rem;
}

@media screen and (min-width: 1200px) {
  .addRecipeBody{
    max-width: 60%;
  }
}


.addRecipeNav {
  justify-content: flex-start;
}

.addTitleButton, .addIngredientButton, .addStepButton, .deleteButton  {
  min-width: 150px;
}


.saveRecipeButton {
  margin-top: 2rem;
}

.saveRecipeButton:hover {
  --bs-btn-hover-color: #300442;
  --bs-btn-active-color: #6a168b;
}

.selectTimeForm {
  margin-top: 1rem;
}

.warningColor:focus {
  border-color: #e30606;
  box-shadow: 0 0 0 .25rem rgba(223, 24, 24, 0.26);
}

.warningColor {
  border-color: #e30606;
}

.inputValueWarning, .stepValueWarning, .undeletable-step {
  margin: 0 auto;
  font-size: 1.2rem;
  color: #740707;
  display: none;
  --animate-duration: 2s;
  margin-top: 1rem;
}

.animate__pulse {
  --animate-duration: 0.8s;
}









/* /////addreceipt - zaklady//// */
/* 
.addRecipe{
  display: grid;
  grid-template-columns: 1fr 1fr ;
  
}


 
.addRecipeInput, .buttonAddTitle, .buttonAddIngredient {
  height: 3rem;
  padding: 0.3rem;
  width: 20rem;
  font-size: 1.3rem;
  font-weight: bolder;
}

.buttonAddTitle, .buttonAddIngredient {
  height: 60.06px;
} */

/* .buttonAddIngredient, .buttonAddTitle {
  width: 7rem;
  height: 3rem;
} */





/* .saveRecipeButton {
  background-color: violet;
  height: 5rem;
  width: 15rem;
  border-radius: 6px 6px 6px 6px;
  -moz-border-radius: 6px 6px 6px 6px;
  -webkit-border-radius: 6px 6px 6px 6px;
  border: 0px solid #000000;
} */

/* .writtenLists {
  display: grid;
  grid-template-columns: 1fr 1fr ;
  gap: 2rem;

}

li {
  padding: 0.3rem;
}


.stepInputWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr ;
  gap: 0.3rem;
  align-items: center;
 
} */

/* .addRecipeTextArea {
  height: 8rem;
  font-size: 1.3rem;
  font-weight: bolder;
} */

/* .buttonAddStep {
  height: 4rem;
  width: 8rem;
  padding: 0.3rem;
  width: 20rem;
  font-size: 1.3rem;
  font-weight: bolder;
} */

/* footer {
    display: grid;
    align-items: center;
    justify-items: center;
    padding: 3rem;
    margin: 0 auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.saveRecipeButton:hover {
  background-color: blueviolet;
  cursor: pointer;
}

button:hover {
  cursor: pointer;
}

.deleteButton {
  border-radius: 50%;
} */