body {
  padding: 3rem;
  margin: 0rem auto;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}



.addRecipe{
  display: grid;
  grid-template-columns: 1fr 1fr ;
  
}


 
.addRecipeInput, .buttonAddTitle, .buttonAddIngredient {
  height: 3rem;
  padding: 0.3rem;
  /* width: 20rem; */
  font-size: 1.3rem;
  font-weight: bolder;
}

.buttonAddTitle, .buttonAddIngredient {
  height: 60.06px;
}

/* .buttonAddIngredient, .buttonAddTitle {
  width: 7rem;
  height: 3rem;
} */



.addRecipeTextArea {
  height: 8rem;
  width: 70%;
  margin: 0 auto;
  font-size: 1.3rem;
  font-weight: bolder;
}

.saveRecipeButton {
  background-color: violet;
  height: 5rem;
  width: 15rem;
  border-radius: 6px 6px 6px 6px;
  -moz-border-radius: 6px 6px 6px 6px;
  -webkit-border-radius: 6px 6px 6px 6px;
  border: 0px solid #000000;
}

.writtenLists {
  display: grid;
  grid-template-columns: 1fr 1fr ;
  gap: 2rem;

}

li {
  padding: 0.3rem;
}

.addProcess {
  
  justify-content: center;
  align-items: center;

}

.stepInputWrapper {
  /* display: grid;
  grid-template-columns: 1fr 1fr ; */
  align-items: center;
  justify-items: left;

}

.buttonAddStep {
  height: 8rem;

}

.saveRecipeButton:hover {
  background-color: blueviolet;
  cursor: pointer;
}
